.detail-specialty-container{
    box-sizing: border-box; /* Ensures borders are included in the element's dimensions */
    .search-doctor-by-specialty{

    }
    .detail-specialty-body{
        padding: 20px 100px;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        .des-specialty{
            padding: 10px;
            background-color: white !important;
            margin: 15px 0;
            h1,h2,h3{
                font-size: 18px;
                font-weight: 600;
            }
        }
        .search-doctor-by-specialty{
            margin-bottom: 20px;
            select{
                height: 30px;
                padding: 5px 8px;
                outline: none;
                border: 0px solid black;
                border-radius: 3px;
                cursor: pointer;
            }
        }
        .each-doctor{
            display: flex;
            width: 100%;
            min-height: 300px;
            margin-top: 15px;
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 30px;
            .dt-content-left{
                width: 50%;
                border-right: 1px solid #ddd;
                .profile-doctor-container{
                    .down{
                        padding: 5px 5px;
                }
            }
            }
            .dt-content-right{
                width: 50%;
                padding: 10px;
    
                .doctor-schedule{
                    .doctor-schedule-container{
                        border-right: unset !important;

                    }
                }
                .doctor-extra-infor{
                    border-top: 1px solid #ddd;
                    margin-top: 10px;
                    padding-top: 10px;
                    .doctor-extra-infor-container{
                        padding-left:0 !important;
                    }
                }
                
            }
        }
    }
    .comment-doctor{
        padding: 10px 100px;
        height: 50px;
        background-color: #006e6f;
        width: 100% !important;
        color: white;
        span{
            cursor: pointer;
        }
        .see-detail-ques{
            margin-left: 10px;
            font-weight: 600;
            color: yellow;
        }
    }
    .specialty-footer{
        margin-top: 30px;
    }
  
}